.Kanban {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: #0079BF;
    padding: 20px 4%;
}

@media screen and (max-width : 420px) {

    .Kanban {
        display: flex;
        flex-direction:column;
        background-color: #0079BF;
        padding: 20px 4%;
    }
   
}